main {
  padding: 1em 1em 0;
  width: 95%;
  max-width: 60em;
  margin: 1em auto
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#length-controls * {
  font-size: 1.5rem;
}

#timer {
  #timer-label {
    font-size: 1.5rem;
  }

  #time-left {
    font-size: 5rem;
  }

  #start-reset-buttons {
    height: 4rem;
    button {
      font-size: 1.5rem;
    }
  }
}

footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  a {
    color: inherit;
    text-decoration: underline
  }
}
